@model IEnumerable<Plantas.Models.Plant>

@{
    ViewData["Title"] = "Dashboard";
}
@* <link rel="stylesheet" href="_content/Blazorise.Icons.FontAwesome/fontawesome-all.min.css" /> *@


<div class="caja-dashboard">
    <span class="loop">
        <input type="text" placeholder="Buscar">
        <i class="fa-solid fa-magnifying-glass"></i>
    </span>
    <h3 class="title-lib">Biblioteca</h3>
</div>
<div class="contenedor-cards">
    @foreach (var item in Model)
    {
        <a class="list-items" asp-controller="Actions" asp-action="ViewTarget" asp-route-id="@item.Id"> 
            <div class="imagen-portada">
                <img class="imagen-item" src="@Html.DisplayFor(modelitem => item.Imagen)" alt="">
            </div>
            <div>
                <h4 class="titulo-card">@Html.DisplayFor(modelitem => item.Name)</h4>
            </div>
            <div>
                <p>@Html.DisplayFor(modelitem => item.Description)</p>
            </div>
        </a>

    } 
</div>
