@* modulo para agregar plantas enfermedades o familias *@
@{
    ViewData["Title"] = "Register";
}
@*titulo de la pagina*@
<script src="@Url.Content("~/js/register.js")"></script>

<div class="box-container-row">
    <h2>Register new</h2>

    <div class="choose">
        <div class="opcion">
            <input type="radio" name="DataType" value="plant" id="plant" checked>
            <label for="plant">Plant</label> 
        </div>
        <div class="opcion">
            <input type="radio" name="DataType" value="family" id="family"> 
            <label for="family">Family</label>
        </div>
        <div class="opcion">
            <input type="radio" name="DataType" value="disease" id="disease">
            <label for="disease">Disease</label>
        </div>
        <div class="opcion">
            <input type="radio" name="DataType" value="plague" id="plague">
            <label for="plague">Plague</label>
        </div>

    </div>

    <div id="formContainer">
        <!-- El formulario cargado se insertará aquí -->
    </div>

</div>
