<div class="contenedor">
    <form action="">

        @* se pone toda la descripcion de la planta *@
        <div class="description">
            <textarea name="description" id=""
                placeholder="Aqui es donde agragas la informacion de cada planta"></textarea>
        </div>

        @* Se agrega la imagen y las enfermedades mas comunes *@
        <div class="contenido">
            <div class="image"> @* se agrega imagen *@
                <img src="" alt="">
                <input type="file" id="inputImage" name="image" accept="image/*">
            </div>
            <div class="enfermedades"> @* se ponen las enfermedades que la planta tiene *@
                
            </div>
        </div>
    </form>

</div>