<div class="caja-inicio">
    <h2 class="title-plantas">Register Plant</h2>

    <div class="formulario-plantas">
        <form action="">
            <div class="caja-entrada">
                <label for="">Name:</label>
                <input type="text" placeholder="Name">
            </div>
            <div class="caja-entrada">
                <label for="">Description:</label>
                <textarea placeholder="Descripción"></textarea>
            </div>
            <div class="caja-entrada">
                <label for="">Cover image:</label>
                <input type="file">
            </div>
            <div class="caja-entrada">
                <input type="button" value="Enviar">
            </div>
        </form>
    </div>
</div>