:root {
    --primero: rgba(255, 255, 255, 0.945);
    --segundo: rgba(112, 38, 38, 0.22);
    --tercero: rgba(214, 202, 202, 0.801);
    --cuarto: rgba(14, 13, 13, 0.8);
    --quinto: rgb(236, 203, 130);
   
   
    /* colores titulos */
    --letra-uno: rgba(39, 23, 177, 0.9);
}