@model Plantas.Models.Plant

<div class="caja-principal">
    <div class="name">
        <h1>Titulo "Nombre de la planta"</h1>
    </div>
    <div class="card-planta">
        <div class="propiedades">
            <h3>Bienvenido a la data de una planta</h3>
        </div>
        <div class="comunes">

            <h4>Enfermedades comunes</h4>

            <article>
                <a class="enlace" href="">primera </a>
                <a class="enlace" href="">estancias</a>
                <a class="enlace" href="">estancias</a>
                <a class="enlace" href="">estancias</a>
                <a class="enlace" href="">estancias</a>
            </article>
            <p>Descripción: "Descripción de la planta"</p>
            <p>Familia: "Familia de la planta"</p>
            <p>Habitat: "Habitat de la planta"</p>
        </div>
    </div>
</div>